<!DOCTYPE html>
<html>
    <meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
    <head>
        <title>
            Music Explorer
        </title>
        {% load static %}
    </head>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />

    <body class="container">
        <div id="main" class="container">
            <div id="app"/>
            </div>
        </div>
        <script src="{% static "frontend/main.js" %}"></script>
    </body>

</html>