<!DOCTYPE html>
<html>
    <meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
    <head>
        <title>
            Music Explorer
        </title>
        {% load static %}
    </head>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />

    <body class="container">
        <script>
            $(document).ready(function () {
                var tHeight = $(window.top).height();
                alert("Visible screen height is " + tHeight + "px");
                $("#graph").height(tHeight);

            });
        </script>
        <div id="main" class="container">
            <div id="app" class="container"/>
            </div>
        </div>
        <script src="{% static "frontend/main.js" %}"></script>
    </body>

</html>