.box {background-color: #979797;}
.container {background-color: #68ae5d;}
.footer{
    
    padding-left: 25px;
    margin-top: 0;
    background-color: rgb(222, 222, 222);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .header{
    padding: 0;
    margin-top: 25px;
    margin-left: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: "350px";
    
  }


  .headerText {
    font-weight: bold;
    color: rgb(133, 133, 133);
    padding: 0;
    margin: 0; 
    z-index: 100;
    cursor: pointer;
  }

  .headerText:hover {
    color:rgb(161, 161, 161);    
    
  }

  .main {
    background-color: rgb(51, 58, 66);
  }

  .container {
    background-color: rgb(75, 86, 97);
  }